@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap');

* {box-sizing: border-box;}

body{
    background-color: hsl(210, 46%, 95%);
    margin:0;
    font-size: 13px;
}

img {
    width: 35px;
    height: 35px;
    border: 2px solid hsl(0, 0%, 100%, 50%);
    border-radius: 50%;
}

span {opacity: 50%;}
p{opacity: 70%;}

.card1 {grid-area: card1;}
.card2 {grid-area: card2;}
.card3 {grid-area: card3;}
.card4 {grid-area: card4;}
.card5 {grid-area: card5;}
.container {
    margin: 30% 5%;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr;
    grid-template-areas: "card1"
                         "card2"
                         "card3"
                         "card4"
                         "card5";
    grid-gap: 20px;
}
.card, .header, .head-name {
    display: flex;
}

.card {
    color: #fff;
    padding: 10%;
    flex-direction: column;
    border-radius: 10px;
}
.card-white{
    background-color: #fff;
    color: hsl(217, 19%, 35%) ;

}

.card1 {
    background-color: hsl(263, 55%, 52%);
    background-image: url('images/bg-pattern-quotation.svg');
    background-repeat: no-repeat;
    background-position-x: 90%;

}
.card2 {background-color: hsl(217, 19%, 35%);}
.card4 {background-color: hsl(219, 29%, 14%);}

.card4 img {
    border: 2px solid hsl(263, 55%, 52%);
}
 

.header {
    flex-direction: row;
}

.head-name {
    flex-direction: column;
    justify-content: center;
    margin-left: 5%;
}

